useDynLib(nprobust, .registration = TRUE)
S3method(print,lprobust)
S3method(summary,lprobust)
S3method(print,lpbwselect)
S3method(summary,lpbwselect)
S3method(print,kdrobust)
S3method(summary,kdrobust)
S3method(print,kdbwselect)
S3method(summary,kdbwselect)
export(lpbwselect)
export(lprobust)
export(kdbwselect)
export(kdrobust)
export(nprobust.plot)
import(ggplot2)
importFrom(Rcpp, evalCpp)
importFrom("stats","integrate","complete.cases","deriv","dnorm","kernel","lm","optimize","pnorm","poly","qnorm","quantile","sd","sigma")
importFrom("graphics","lines","plot","polygon")

